.jep-slider .x-slider {
  margin: 1.25em 0.55em 0.55em 0.55em;
}

.jep-slider-no-thumb-labels .x-slider {
  margin: 0.55em;
}

.jep-slider .x-input-slider::after {
  margin: 0 0.55em;
}

.jep-slider .x-input-slider::after,
.jep-slider-range,
.jep-slider-increment-mark {
  top: 0.837em;
  height: 0.8em;
}

.jep-slider-range,
.jep-slider-increment-range-mark {
}


.jep-slider .x-thumb {
  width: 1.1em;
  z-index: 3;
}

.jep-slider .x-thumb::before {
  top: 0.375em;
}


.jep-slider .x-thumb::before {
  width: 1.1em;
  left: 0.0875em;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
}

.jep-slider-increment-mark,
.jep-slider-increment-range-mark {
  position: absolute;
  z-index: 2;
}

.jep-slider-increment-mark {
  width: 2px;
  height: 0.8em;
  margin-left: 0.55em;
  border-left: 1px inset #eee;
  border-right: 1px inset #eee;
}

.jep-slider-increment-range-mark {
  border-left: 1px inset #eee;
  border-right: 1px inset white;
  opacity: 0.5;
}

.jep-slider-range {
  position: absolute;
  background-color: #4993DC;
  background-image: -webkit-linear-gradient(#4182C3, #458ACF 10%, #4993DC 65%, #4A93DD);
  border-bottom: 0;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  z-index: 1;
}


.jep-slider-min-label,
.jep-slider-max-label,
.jep-slider-thumb-label,
.jep-slider-thumb-label-first,
.jep-slider-thumb-label-last {
  position: absolute;
  font-size: 0.7em;
  color: black;
  top: -1.4em;
  white-space: nowrap;
}

.jep-slider-thumb-label,
.jep-slider-thumb-label-first,
.jep-slider-thumb-label-last {
  z-index: 4;
}

.jep-slider-thumb-label,
.jep-slider-min-label {
  margin-left: 2px;
}

.jep-slider-thumb-label {
  text-align: center;
}

.jep-slider-thumb-label-text {
  border: 1px solid #BB3;
  background: #FFE;
  padding: 2px 0.5ex;
  border-radius: 1ex;
  -webkit-border-radius: 1ex;
}

.jep-slider-thumb-label-first {
  margin-left: 0;
}

.jep-slider-thumb-label-last {
  margin-right: 0;
}

.jep-slider-thumb-label.jep-slider-thumb-label-first {
  text-align: left;
}

.jep-slider-thumb-label.jep-slider-thumb-label-last {
  text-align: right;
}

.jep-slider-thumb-label.jep-slider-thumb-label-callout {
  position: absolute;
  width: 1px;
  top:0;
  height: 0.5em;
  background-color: gray;
  z-index:0;
}


.jep-slider-thumb-label-first.jep-slider-thumb-label-callout {
  left: 1ex;
}

.jep-slider-thumb-label-last.jep-slider-thumb-label-callout {
  right: 1ex;
}

.jep-slider-min-label,
.jep-slider-max-label {
  top: 2.2em;
  color: #999;
  z-index: 2;
}

.jep-slider-min-label {
  left: 1.6em;
}

.jep-slider-max-label {
  right: 1.6em;
}
